body{
    animation: transitionIn 1s;
}
.imborder{
    animation: rotation 5s linear infinite;
}
@keyframes transitionIn{
    from{
        opacity: 0;
        filter: blur(5px);
        transform: translateY(-10px)
    }
    to{
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0)
    }
}
@property --gradient-angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes rotation{
    from {--gradient-angle: 0deg;}
    to {--gradient-angle: 360deg;}
}