h1, h2 {
    color:#FDE2F3;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Lato', sans-serif;
}
ul{
    font-family: 'Lato', sans-serif;
}
a:link {color:#00daee;}
body{
    background:#000000;
    color:#FDE2F3;
}
.center{
    text-align: center;
}
.imborder{
    padding: 6px;
    background: conic-gradient(
        from var(--gradient-angle),
        #541263,
        #2c4494,
        #bc2a67,
        #2c4494,
        #541263);
}
.border{
    padding: 1px;
    background: #FDE2F3;
}
#logo{
    max-width: 50%;
}